<a href="https://colab.research.google.com/github/jo1132/AI_Lec_Practice/blob/jo1132-patch-1/jo1132/AI_Lec_Practice/Lec3_Python/2021_06_02_%EB%B3%B5%EC%8A%B5%ED%80%B4%EC%A6%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제1. 변수a에 1, 변수 b에 2를 넣고 두 변수의 합을 구하시오.

In [1]:
a, b = {1,2}
print(a+b)

3

In [3]:
a = 1
print(a)

1

문제2. 주민등록 번호에서 생년 월일을 추출하시오
  -변수를 만들어서 주민등록번호를 넣고
  - 변수에서 생년월일 위치를 찾아서
  - 생년월일을 출력

In [7]:
num = "123456-1234567"
a = num.split('-')[0] #a == 123456
year = a[:2]
month = a[2:4]
day = a[4:]
print(year, "년", month, "월", day, "일")

12 년 34 월 56 일

문제3. 변수a에는 "20010331Rainy"가 있다.
        - 날자는 date변수에
        - 날씨는 weather변수에 넣으시오

In [10]:
a = "20010331Rainy"
date = ""
weather = ""
for i in a:
  if i.isdigit(): date += i
  else: weather += i

print("date: ", date)
print("weather: ", weather)

date:  20010331
weather:  Rainy

문제4. 변수 a에는 "Pithon"이 있다. 
"Python"으로 바꾸시오

In [15]:
a = "Pithon"
txt = a.maketrans('i', 'y')
a = a.translate(txt)
print(a)

Python

In [16]:
a = "Pithon"
new = a[0] + 'y' + a[2:]
print(new)

Python

문제5. [1, 2, [''a','b',['Life', is']]]값을 갖는 리스트 a를 생성하고, a에서 Life값을 추출하라

In [19]:
a = [1, 2, ['a','b',['Life', 'is']]]
print(a[2][2][0])

Life

In [22]:
for i in range(len(a)):
  for j in range(len(a[i])):    #int일때는 안되네 힝구힝구
    if(not (a[i][j].islower())):
      print(a[i][j])

TypeError: ignored