#### 모듈 사용하는 법
1. import 라이브러리명
2. import 라이브러리명 as 별칭
3. from  모듈명 import 클래스명

In [ ]:
#모듈 사용할 떄
from pandas import Series, DataFrame
import pandas as pd
fruit = Series(data =[2500, 3800, 1200, 6000], index=['apple', 'banana', 'peer', 'cherry'])
print(fruit)

apple     2500
banana    3800
peer      1200
cherry    6000
dtype: int64

In [ ]:
fruit.values

array([2500, 3800, 1200, 6000])

In [ ]:
fruit.index

Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

In [ ]:
fruit.name = "fruitPrice"
fruit

apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
fruit.index.name = "fruitName"
fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
#DataFrame 만들기

fruitData = {
    'fruitName':['apple','banana','cherry','peer'],
    'fruitPrice':[2500, 3800, 6000, 1200],
    'num' : [10,5,3,8]
}
fruitFrame = DataFrame(fruitData)
print(fruitFrame)

  fruitName  fruitPrice  num
0     apple        2500   10
1    banana        3800    5
2    cherry        6000    3
3      peer        1200    8

In [ ]:
pd.__git_version__

'b5958ee1999e9aead1938c0bba2b674378807b3d'

In [ ]:
#DataFrame선언하는 다른방법, 또한 속성의 순서를 바꾼수도 있다.
fruitFrame = pd.DataFrame(fruitData, columns = ["fruitPrice", 'num', 'fruitName'])
fruitFrame

   fruitPrice  num fruitName
0        2500   10     apple
1        3800    5    banana
2        6000    3    cherry
3        1200    8      peer

In [ ]:
#특정 컬럼만 추출
fruitFrame["fruitName"]

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

In [ ]:
type(fruitFrame["fruitName"])

pandas.core.series.Series

In [ ]:
type(fruitFrame)

pandas.core.frame.DataFrame

In [ ]:
#특정 컬럼만 추출2
#fruitFrame["컬럼 명"], df(데이터프레임명.컬럼명
fruitFrame.fruitName

0     apple
1    banana
2    cherry
3      peer
Name: fruitName, dtype: object

###**df에 컬럼 추가하기**

In [ ]:
#df에 컬럼추가
#df명["new컬럼명"] = 값
fruitFrame["year"] = 2016
fruitFrame

   fruitPrice  num fruitName  year
0        2500   10     apple  2016
1        3800    5    banana  2016
2        6000    3    cherry  2016
3        1200    8      peer  2016

In [ ]:
#df컬럼 추가.. 다른데이터 값으로
variable = pd.Series(data=[4, 2, 1], index=[0,2,3])   #인덱스 값의 위치에 data를 넣어준다.
fruitFrame["stock"] = variable
fruitFrame

   fruitPrice  num fruitName  year  stock
0        2500   10     apple  2016    4.0
1        3800    5    banana  2016    NaN
2        6000    3    cherry  2016    2.0
3        1200    8      peer  2016    1.0

###**Series 데이터 항목 삭제**

In [ ]:
fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
#삭제해서 보여주지만, 실제로 삭제되지는 않는다.
fruit.drop("banana")

fruitName
apple     2500
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
#삭제한버전의 fruit를 새로운 Series로 만듬
new_fruit = fruit.drop("banana")
new_fruit

fruitName
apple     2500
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [ ]:
#삭제하고 삭제한상태로 저장하는 방법
#일단 다른 Series로 복사
fruit1 = fruit.copy()
#inplace = True
fruit1.drop("banana", inplace=True)
fruit1

fruitName
apple     2500
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

###**df 삭제하기**
#fruitData
#fruitFrame

In [33]:
fruitName = fruitData["fruitName"]

In [34]:
fruitName

['apple', 'banana', 'cherry', 'peer']

In [35]:
type(fruitName)

list

In [38]:
fruitFrame = pd.DataFrame(data = fruitData, index=fruitName, columns=["fruitPrice", "num"])
fruitFrame

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

In [39]:
fruitFrame2 = fruitFrame.drop("apple")
fruitFrame2

        fruitPrice  num
banana        3800    5
cherry        6000    3
peer          1200    8

In [45]:
#2개 row삭제
print(fruitFrame)
fruitFrame.drop(["apple", "cherry"])  ##list형으로 넣어줘야 2개 이상이 지워진다.

        fruitPrice  num
apple         2500   10
banana        3800    5
cherry        6000    3
peer          1200    8

        fruitPrice  num
banana        3800    5
peer          1200    8

In [49]:
#DataFrame의 column 삭제하기
fruitFrame.drop("num", axis=1) 
# axis의 기본값은 0이다. == 행을 지운다.
# axis의 값을 1로하면 열을 지울 수 있다.

        fruitPrice
apple         2500
banana        3800
cherry        6000
peer          1200

In [51]:
fruitFrame2 = fruitFrame.drop(["num", "fruitPrice"], axis = 1)
fruitFrame2

Empty DataFrame
Columns: []
Index: [apple, banana, cherry, peer]

###**시리즈 항목 추출하기**

In [52]:
fruit

fruitName
apple     2500
banana    3800
peer      1200
cherry    6000
Name: fruitPrice, dtype: int64

In [54]:
fruit["apple":"peer"]

fruitName
apple     2500
banana    3800
peer      1200
Name: fruitPrice, dtype: int64

In [60]:
#데이터프레임 slice
fruitData = {
    'fruitName':['apple','banana','num','peer'],
    'fruitPrice':[2500, 3800, 6000, 1200],
    'num' : [10,5,3,8]
}

fruitName = fruitData["fruitName"]
fruitName

['apple', 'banana', 'num', 'peer']

In [62]:
fruitFrame = DataFrame(data=fruitData, index=fruitName, columns=['fruitName', 'fruitPrice', 'num'])
fruitFrame

       fruitName  fruitPrice  num
apple      apple        2500   10
banana    banana        3800    5
num          num        6000    3
peer        peer        1200    8

In [67]:
fruitFrame.drop(["fruitName", "fruitPrice"], axis = 1)['banana':'num']   #띠용용용

        num
banana    5
num       3

###**Serise 연산**

In [71]:
#Serise 연산
fruit1 = pd.Series(data=[5, 6,7, 8], index=['ap','ba', 'ch', 'pe'])

fruit2 = pd.Series(data=[3, 2, 9, 5, 10], index=['ap','or', 'na', 'ch', 'pe'])

print(fruit1)
print(fruit2)

ap    5
ba    6
ch    7
pe    8
dtype: int64
ap     3
or     2
na     9
ch     5
pe    10
dtype: int64

In [72]:
fruit1+fruit2
# 서로 같은것만 더해지고 왠지 float형이 되었다.

ap     8.0
ba     NaN
ch    12.0
na     NaN
or     NaN
pe    18.0
dtype: float64

In [73]:
#데이터 프레임 연산
fd1 = {'Ohio':[4, 8, 3, 5], 'Texas':[0, 1, 2, 3]}
fruitFrame1 = DataFrame(fd1, columns=['Ohio', 'Texas'], index=['apple','banana', 'cherry', 'peer'])
fd2 = {'Ohio':[3, 0, 2, 1, 7], 'Colorado':[5, 4, 3, 6, 0]}
fruitFrame2 = DataFrame(fd2, columns=['Ohio', 'Colorado'], index=['apple','orange','banana', 'cherry', 'mango'])
print(fd1)
print(fd2)

{'Ohio': [4, 8, 3, 5], 'Texas': [0, 1, 2, 3]}
{'Ohio': [3, 0, 2, 1, 7], 'Colorado': [5, 4, 3, 6, 0]}

In [75]:
fruitFrame1 + fruitFrame2  #중복되는 항목들만 합쳐진다. 그리고 왠지 더블형이다.

        Colorado  Ohio  Texas
apple        NaN   7.0    NaN
banana       NaN  10.0    NaN
cherry       NaN   4.0    NaN
mango        NaN   NaN    NaN
orange       NaN   NaN    NaN
peer         NaN   NaN    NaN

###**데이터 정렬**

In [76]:
#데이터 정렬(Serids일때 사용)
fruit.sort_values()

fruitName
peer      1200
apple     2500
banana    3800
cherry    6000
Name: fruitPrice, dtype: int64

In [77]:
#시리즈 데이터정렬 내림차순
fruit.sort_values(ascending = False)

fruitName
cherry    6000
banana    3800
apple     2500
peer      1200
Name: fruitPrice, dtype: int64

In [79]:
#데이터 프레임 정렬
fruitFrame.sort_index(ascending=False)

       fruitName  fruitPrice  num
peer        peer        1200    8
num          num        6000    3
banana    banana        3800    5
apple      apple        2500   10

In [80]:
fruitFrame.sort_index(axis=1)

       fruitName  fruitPrice  num
apple      apple        2500   10
banana    banana        3800    5
num          num        6000    3
peer        peer        1200    8

In [81]:
fruitFrame.sort_values('fruitName')

       fruitName  fruitPrice  num
apple      apple        2500   10
banana    banana        3800    5
num          num        6000    3
peer        peer        1200    8

In [86]:
fruitFrame.sort_values(by='num', ascending=False)

       fruitName  fruitPrice  num
apple      apple        2500   10
peer        peer        1200    8
banana    banana        3800    5
num          num        6000    3